---
# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2025 The Linux Foundation

extends: default

rules:
  empty-lines:
    max-end: 1
  comments:
    min-spaces-from-content: 1
    level: error
